.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 800px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: double 3px #DDD;
  border-top: none; border-bottom: none;
}

textarea {
  resize: none;
  width: 85%;
  height: 85%;
}

.calendar-title {
  text-align: center;
}

.current-date {
  background-color: orange;
}

.left-arrow {
  text-align: left;
  display: inline;
}

.right-arrow {
  text-align: right;
  display: inline;
}

.event-button {
  white-space: normal;
  word-wrap: break-word;
  width: 70%;
}

.event-view {
  display: table;
}

/* Tables
  by: davidelrizzo
  https://css-tricks.com/accessible-simple-responsive-tables/
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  /* Default to full width*/
  padding: 0.8em 1.2em;
  overflow: hidden; /* Or flex might break */
  list-style: none;
  border: solid 3px white;
  background: #e3ecf9;
}

/* Table column sizing
================================== */
.Rtable--7cols > .Rtable-cell  { width: 14.2%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}