.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calendar-week:after {
  clear: both;
  content: "";
  display: table;
}

.calendar-day {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: auto;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: auto;
}

.calendar-day:focus {
  outline: none;
}

.event-button {
  display: table;

}

.event-view {
  display: table;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}